body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  line-height: 2;
  color: #66BFBF;
  font-size: 750%;
  margin: 0;
  padding-top: 0px;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-weight: normal;
  color: #66BFBF;
  padding-bottom: 50px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

h3 {
  color:#11999e;
  padding-bottom: 0px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

hr{
  color: grey;
  border-top: dotted #DFDFDE 6px;
  width: 3%;
  border-bottom: none;
  border-left: none;
  border-right: none;
  margin: 70px auto;
}

p{
  line-height: 2;
}

a{
  color: #11999e;
  font-family: 'Montserrat', sans-serif;
  margin : 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #eaf6f6;

}

.programmer {
  padding: 20px;
  margin: 0px;
}

.top-container {
  margin-top: 0px;
  background-color: #CAF7E3;
}

.middle-container{
  padding-top: 50px;
  margin: 0;
}

.bottom-container{
  background-color: #66bfbf;
  margin-bottom: 0;
  padding: 50px 0 20px;
}

.pro {
  text-decoration: underline;
}

.gunung {
  height: 500px;
}

.top-cloud {
  height: 60px;
  padding-top: 50px;
  position: relative;
  left: 300px;
}

.bottom-cloud {
  height: 60px;
  padding-top: 20px;
  position: relative;
  right: 330px;
}

.coding-img{
  width: 25%;
  float: left;
  margin-right: 20px;
}

.editing-img {
  width: 25%;
  float: right;
  margin-left: 20px;
}


.skill{
  padding-top: 50px;
  width: 50%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.skills{
}

.btn{
  border-radius: 8;
}

.intro{
  margin: 0px auto;width: 30%;
}

.contact-me{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.pasfoto{
  margin-bottom: 50px;
}

.outro{
  margin: 50px 0 50px;
}

.copyright{
  color:#eaf6f6;
  font-size: 0.75rem;
  padding: 20px 0;
}
